.img-produto {
  height: 300px !important; /* ou outro valor fixo */
  object-fit: contain !important; /* mantém proporção e preenche */
}

.img-produto:hover {
  transform: scale(1.1); /* aumenta o tamanho da imagem ao passar o mouse */
  transition: transform 0.3s ease; /* animação suave */
}

.carousel-inner {
  height: 500px; /* ajuste conforme necessário */
}

.carousel-inner img {
  height: 100%;
  object-fit: cover; /* mantém a imagem proporcional e preenche o espaço */
}

.produto_carrinho {
  width: 50px;
  height: auto;
}